<div class="page-header">
  <h3>Allotment #<%= @allotment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @allotment.date %></dd>

      <dt>Days available</dt>
      <dd><%= @allotment.days_available %></dd>

      <dt>Role</dt>
      <dd><%= @allotment.role_id %></dd>

      <dt>Department</dt>
      <dd><%= @allotment.department_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/allotments" class="btn btn-primary">
        Back
      </a>
      <a href="/allotments/<%= @allotment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_allotment/<%= @allotment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
